wsdl/backup/da_sense.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.da-sense.de/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="da_sense" targetNamespace="http://www.da-sense.de/">
    <wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.da-sense.de/">
			<xsd:element name="Types">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnAll" type="xsd:boolean"></xsd:element>
						<xsd:element name="returnTypes" type="tns:DataType"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Location">
				<xsd:sequence>
					<xsd:element name="longitude" type="xsd:double"></xsd:element>
					<xsd:element name="latitude" type="xsd:double"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="LocationExtended">
				<xsd:complexContent>
					<xsd:extension base="tns:Location">
						<xsd:sequence>
							<xsd:element name="altitude" type="xsd:double"></xsd:element>
							<xsd:element name="accuracy" type="xsd:double"></xsd:element>
							<xsd:element name="provider" type="xsd:string"></xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:simpleType name="DataType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CO"></xsd:enumeration>
					<xsd:enumeration value="CO2"></xsd:enumeration>
					<xsd:enumeration value="LEQ"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="DataValue">
				<xsd:sequence>
					<xsd:element name="type" type="tns:DataType"></xsd:element>
					<xsd:element name="value" type="xsd:double"></xsd:element>
					<xsd:element name="timestamp" type="xsd:decimal"></xsd:element>
					<xsd:element name="samples" type="xsd:int"></xsd:element>
					<xsd:element name="description" type="xsd:string"></xsd:element>
					<xsd:element name="location"
						type="tns:LocationExtended">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Node">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:string"></xsd:element>
					<xsd:element name="type" type="xsd:string"></xsd:element>
					<xsd:element name="description" type="xsd:string"></xsd:element>
					<xsd:element name="values" type="tns:DataValue"
						maxOccurs="unbounded" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="Time">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnAll" type="xsd:boolean"></xsd:element>
						<xsd:element name="from" type="xsd:decimal" maxOccurs="1" minOccurs="0"></xsd:element>
						<xsd:element name="to" type="xsd:decimal" maxOccurs="1" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="Location">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="returnAll" type="xsd:boolean"></xsd:element>
						<xsd:element name="topLeft" type="tns:Location" maxOccurs="1" minOccurs="0"></xsd:element>
						<xsd:element name="bottomRight" type="tns:Location" maxOccurs="1" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="node" type="tns:Node" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="setData">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="node" type="tns:Node"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
				
			<xsd:element name="setDataResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"></xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="getNodes">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getNodesResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="node" type="tns:Node" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:simpleType name="NodeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ALL"></xsd:enumeration>
					<xsd:enumeration value="PHONE"></xsd:enumeration>
					<xsd:enumeration value="MOTE"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:element name="getDataForNodeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="node" type="tns:Node" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDataTypeInfos">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getDataTypeInfosResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="info" type="tns:DataTypeInfo" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="DataTypeInfo">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:string"></xsd:element>
					<xsd:element name="displayname" type="xsd:string"></xsd:element>
					<xsd:element name="measure" type="xsd:string"></xsd:element>
					<xsd:element name="description" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
    <wsdl:message name="getDataRequest">
        <wsdl:part name="paramsType" element="tns:Types"></wsdl:part>
        <wsdl:part name="paramsTime" element="tns:Time"></wsdl:part>
        <wsdl:part name="paramsLocation" element="tns:Location"></wsdl:part>
    </wsdl:message>
	<wsdl:message name="getDataResponse">
		<wsdl:part name="return" element="tns:getDataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDataForNodeRequest">
		<wsdl:part name="nodeID" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDataForNodeResponse">
		<wsdl:part name="return" element="tns:getDataForNodeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setDataRequest">
		<wsdl:part name="input" element="tns:setData"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setDataResponse">
		<wsdl:part name="return" element="tns:setDataResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNodesRequest">
		<wsdl:part name="type" type="tns:NodeType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNodesResponse">
		<wsdl:part name="return" element="tns:getNodesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDataTypeInfosRequest">

	</wsdl:message>
	<wsdl:message name="getDataTypeInfosResponse">
		<wsdl:part name="return" element="tns:getDataTypeInfosResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="da_sense">
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataRequest"/>
      <wsdl:output message="tns:getDataResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getDataForNode">
    	<wsdl:input message="tns:getDataForNodeRequest"></wsdl:input>
    	<wsdl:output message="tns:getDataForNodeResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setData">
    	<wsdl:input message="tns:setDataRequest"></wsdl:input>
    	<wsdl:output message="tns:setDataResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNodes">
    	<wsdl:input message="tns:getNodesRequest"></wsdl:input>
    	<wsdl:output message="tns:getNodesResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataTypeInfos">
    	<wsdl:input message="tns:getDataTypeInfosRequest"></wsdl:input>
    	<wsdl:output message="tns:getDataTypeInfosResponse"></wsdl:output>
    </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="da_senseSOAP" type="tns:da_sense">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getData">
			<soap:operation soapAction="http://www.da-sense.de/getData" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getDataForNode">
			<soap:operation
				soapAction="http://www.da-sense.de/getDataForNode" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="setData">
			<soap:operation soapAction="http://www.da-sense.de/setData" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getNodes">
			<soap:operation
				soapAction="http://www.da-sense.de/getNodes" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDataTypeInfos">
			<soap:operation
				soapAction="http://www.da-sense.de/getDataTypeInfos" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://www.da-sense.de/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="da_sense">
    <wsdl:port binding="tns:da_senseSOAP" name="da_senseSOAP">
      <soap:address location="http://www.da-sense.de/wsdl/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
